version: '3.4'

x-database-credentials: &database-credentials
  POSTGRES_HOST: "${POSTGRES_HOST}"
  POSTGRES_PORT: "${POSTGRES_PORT:-5432}"
  POSTGRES_DB: "${POSTGRES_DB:-moonrobot}"
  POSTGRES_USER: "${POSTGRES_USER:-postgres}"
  POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"

services:
  web:
    restart: always
    build: .
    command: pipenv run gunicorn --bind=0.0.0.0:8000 --workers 5 django_moonrobot.wsgi
    environment:
      <<: *database-credentials
      MRB_TELEGRAM_TOKEN: "${MRB_TELEGRAM_TOKEN}"
      MRB_WEBHOOK_HOST: "${MRB_WEBHOOK_HOST}"
      MRB_NOTION_TOKEN: "${MRB_NOTION_TOKEN}"
      MRB_NOTION_ENTRYPOINTS_DB_ID: "${MRB_NOTION_ENTRYPOINTS_DB_ID}"
      MRB_NOTION_MESSAGES_DB_ID: "${MRB_NOTION_MESSAGES_DB_ID}"
      MRB_STATIC_URL: "${MRB_STATIC_URL}"
      MRB_LOG_LEVEL: "${MRB_LOG_LEVEL:-WARNING}"
    ports:
      - "8000:8000"  # setting "80:8000" instead will make the app accessible on port 80 of the host machine
    volumes:
      - logs:/code/logs
