[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot-raw = "~=13.7"
requests = "~=2.26"
django = "~=3.2"
psycopg2-binary = "*"

[dev-packages]
pytest = "~=6.2"
pytest-cov = "*"
pytest-xdist = "*"
pytest-django = "*"
pytest-env = "*"
python-dotenv = "*"
ipython = "*"
jupyterlab = "*"
jupyterlab-kite = ">=2.0.2"
ipdb = "*"

[requires]
python_version = "3.8"
